/* CONTENEDOR GENERAL */
.panel-card {
    border-radius: 12px;
}

/* Botones */
.panel-btn {
    padding: 12px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 10px;
    transition: 0.25s ease;
}

.panel-btn:hover {
    transform: scale(1.03);
}

/* Footer */
.panel-footer {
    margin-top: 60px;
    padding-bottom: 25px;
}

.footer-nav a {
    color: #007bff;
    font-weight: 600;
    text-decoration: none;
}

.footer-nav a:hover {
    text-decoration: underline;
}
