.acciones {
    display: flex;
    gap: 10px;
    align-items: center;
}

/* Botón Editar */
.btn-edit {
    background-color: #4CAF50;
    color: white;
    padding: 6px 10px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
}

/* Botón Eliminar */
.btn-delete {
    background-color: #e74c3c;
    color: white;
    padding: 6px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.btn-edit:hover {
    background-color: #45a049;
}

.btn-delete:hover {
    background-color: #c0392b;
}